# --- Python / build ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment / secrets
.env
.env.*
backend/.env
backend/database/.env
backend/firebase-key.json

# Node / JS (just in case later)
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db